# API Configuration
# For local development use: /api
# For production use: https://recordedroots.onrender.com/api
REACT_APP_API_URL=/api

# AWS Configuration
AWS_REGION=your_aws_region
S3_BUCKET_NAME=your_bucket_name
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# DynamoDB Configuration
DYNAMODB_RESIDENTS_TABLE=your_residents_table_name
